.dialog {
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../styles/background.jpg);
    background-size: contain;
    background-position: 100%;
    background-attachment: fixed;
    inline-size: 300px;
    block-size: 200px;
    line-height: 21px;
    padding: 30px;
    text-transform: uppercase;
    border: 1px solid white;
}

.dialog::backdrop {
    background-color: black;
    opacity: 0.95;
}

.dialog__container {
    inline-size: 100%;
    block-size: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.dialog__text {
    color: white;
    font-weight: 1000;
    text-align: center;
}

.dialog__text-container {
    inline-size: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 20px;
    align-items: center;
}

.dialog_button_container {
    inline-size: 100%;
    display: flex;
    gap: 20px;
}

.dialog-button {
    inline-size: 100%;
    block-size: 38px;
    background-color: transparent;
    color: white;
    font-weight: 1000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid white;
}

.dialog-button:focus {
    outline: none;
}

.button__text {
    text-decoration: none;
}
