@media (width < 1440px) {
    .actions_item {
        grid-template-columns: 1fr;
    }

    .action_item {
        max-inline-size: 100%;
    }

    .grid_container {
        display: flex;
        flex-direction: column;
    }

    .visually_hidden {
        display: none;
    }

    .visually {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

    .nav_button {
        writing-mode: horizontal-tb;
    }

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        block-size: 100%;
        padding: 50px;
    }


}


@media (width < 400px) {
    .page {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../styles/background.mobile.jpg);
    }
}