@media (width < 1440px) {
    .actions_item {
        grid-template-columns: 1fr;
    }

    .action_item {
        max-inline-size: 100%;
    }

    .grid_container {
        display: flex;
        flex-direction: column;
    }

    .visually_hidden {
        display: none;
    }

    .visually {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
        align-items: center;
    }

    .nav_button {
        writing-mode: horizontal-tb;
    }

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        block-size: 100vb;
        padding: 50px;
    }

    .article_about_text {
        text-transform: uppercase;
    }
}





@media (width < 400px) {
    .header {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/background/bgmobile_3_11zon.jpg);
  
        background-repeat: no-repeat;
    }

    .footer {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/background/bg.footermobile.jpg);
    
        background-repeat: no-repeat;
    }
}







.gallary {
    inline-size: 100%;
    max-inline-size: 800px;
    block-size: 100%;

    align-self: center;
}

.slider {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.slide {
    display: none;
    width: 100%;
    height: 100%;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.active-slide {
    display: block;
}

#prevBtn,
#nextBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: #ffffff;
    font-size: clamp(0.9375rem, 0.75rem + 0.9375vw, 1.875rem);
    font-weight: 1000;
    cursor: pointer;
    border: none;
    outline: none;
    z-index: 10;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 60%;
}


#nextBtn:hover {
    background-color: rgb(205, 200, 200, 0.75);
}

#prevBtn:hover {
    background-color: rgb(205, 200, 200, 0.75);
}

#prevBtn {
    left: 20px;
}

#nextBtn {
    right: 20px;
}