.page {
    inline-size: 100%;
    color: white;
    font-family: 'TTRicordiAllegria-Regular';
    font-size: clamp(0.875rem, 0.8056rem + 0.3704vw, 1.25rem);
    letter-spacing: 3px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../styles/background.jpg);
    background-size: cover;
    background-position: 100%;
    background-attachment: fixed;
}

.header {
    inline-size: 100%;
}

.nav {
    position: relative;
    inline-size: 100%;
    background-color: rgb(11, 11, 11, 0.76);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    position: fixed;
    z-index: 1;
}

.nav_button {
    outline: none;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: color .2s linear .06s;
}

.nav_button:hover {
    color: rgba(228, 225, 233, 0.76);
    transition: color .2s linear .06s;
}

.nav_button:active {
    color: white;
    transition: color .2s linear .06s;
}

.main {
    padding-left: clamp(0.625rem, -1.5741rem + 11.7284vw, 12.5rem);
    padding-right: clamp(0.625rem, -1.5741rem + 11.7284vw, 12.5rem);
    inline-size: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 60px;
}


.main_text {
    text-transform: uppercase;
}

.logo {
    width: 100px;
}

.title_image {
    width: 300px;
}

.title {
    width: 100%;
    block-size: 100vb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_title {
    text-transform: uppercase;

}

.article_about {
    background-color: transparent;
    inline-size: 100%;
    block-size: max-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.article_about_text {
    line-height: 30px;
    text-align: justify;
}

.gallary {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.grid_container {
    gap: 30px;
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 3;
    align-self: center;
}

.gallary_item {
    width: 100%;
    object-fit: contain;
    object-position: center;
}

.item1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.item2 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.item3 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.item4 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.item5 {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

.item6 {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

.actions {
    inline-size: 100%;
    display: flex;
    flex-direction: column;

    gap: 25px;
}

.actions_item {
    inline-size: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.action_item {
    position: relative;
    inline-size: 100%;
    max-inline-size: 775px;
}

.action_image {
    position: relative;
    inline-size: 100%;
    block-size: 100%;
    object-fit: contain;
    object-position: center;
    opacity: 0.8;
}

.action_text {
    position: absolute;
    text-align: justify;
    text-transform: uppercase;
    bottom: 5px;
    padding: 25px;
    font-size: clamp(0.625rem, 0.5093rem + 0.6173vw, 1.25rem);
    display: flex;
    gap: 10px;
    flex-direction: column;
    font-weight: 1000;
}

.footer {
    inline-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.van {
    position: relative;
    inline-size: 100%;
    block-size: 100vb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    z-index: 1;
}

.work_time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
}