.page {

    inline-size: 100%;
    color: white;
    font-family: 'TTRicordiAllegria-Regular';
    font-size: clamp(0.625rem, 0.5333rem + 0.4587vw, 1.25rem);
    letter-spacing: 3px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../styles/background.jpg);
    background-size: cover;
    background-position: 100%;
    background-attachment: fixed;
}

.header {
    inline-size: 100%;
}

.nav {
    inline-size: 100%;
    background-color: rgb(11, 11, 11, 0.76);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    position: fixed;
}

.nav_button {
    outline: none;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: color .2s linear .06s;
}

.nav_button:hover {
    color: rgba(228, 225, 233, 0.76);
    transition: color .2s linear .06s;
}

.nav_button:active {
    color: white;
    transition: color .2s linear .06s;
}

.main {
    inline-size: 100%;
    background-color: transparent;
}


.main_text {
    text-transform: uppercase;
}

.logo {
    width: 100px;
}

.title_image {
    width: 300px;
}

.title {
    width: 100%;
    block-size: 100vb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_title {
    text-transform: uppercase;
    font-size: clamp(1.25rem, 0.8979rem + 1.7606vw, 2.5rem);
}

.article_about {
    background-color: transparent;
    inline-size: 100%;
    block-size: max-content;
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.article_about_title {
    font-size: clamp(1.25rem, 0.8979rem + 1.7606vw, 2.5rem);
}

.article_about_text {
    font-size: clamp(1.25rem, 1.2041rem + 0.2294vw, 1.5625rem);
    line-height: 30px;
}

.gallary {
    gap: 30px;
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 3;
    align-self: center;
}

.gallary_item {
    width: 100%;
    object-fit: contain;
    object-position: center;
    border: 2px solid rgb(202, 198, 198);
}

.item1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.item2 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.item3 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.item4 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.item5 {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

.item6 {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

.address {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.span_text {
    font-weight: 1000;
}

.footer {
    width: 100%;
    height: auto;
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 25px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 25px;
}

.footer_icons {
    display: flex;
    gap: 15px;
}

.footer_icon {
    width: 30px;
}

@media (width < 1440px) {
    .gallary {
        display: flex;
        flex-direction: column;
    }

    .article_about {
        padding: 20px;
    }

    .footer {
        padding: 20px;
    }
}

@media (width < 828px) {
    .nav {
        display: none;
    }

    .gallary_item {
        border: none;
    }
}

@media (width < 477px) {
    .article_about {
        padding: 0px;
    }

    .article_about_title {
        padding: 5px;
    }

    .article_about_text {
        padding: 5px;
    }

    .footer_icons {
        flex-direction: column;
    }

}